
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    h1{
        /* display: flexbox; */
        background-color:aliceblue;
    }
    span{
        font-weight: bolder;
        background-color: beige;
        font-style: oblique;
    }
    div{
        font-weight: bolder;
        background-color:bisque

    }
</style>
</head>
<body>
    {% block my_first_block %}
    {% endblock %}
</body>
</html>