<form action="/demoapp/add_movie" method="POST">
  {% csrf_token %}
  <input type="text" name="name" id="name" placeholder="movie name"><br>
  <input type="text" name="awards" id="awards" placeholder="movie awards"><br>
  <input type="text" name="year" id="year" placeholder="movie release year"><br>
  <input type="text" name="ratings" id="ratings" placeholder="movie ratings eg: 3*"><br>
  <br>
  <input type="submit" value="add this movie">
</form>

<p>Thank you</p>
<a href= "movies_list">back</a>