<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>single movie detail</h1><br>
  <ol>
    <li> name = {{ movies.name }} , ratings = {{ movies.ratings }} , awards = {{ movies.awards }}, year = {{ movies.year }} </li><br>
  </ol>

  <a href="movies_list"> GO BACK TO LIST</a><br>
  <marquee>Careful while deleteing</marquee>
  <a href="delete_movie_id_{{ id }}" > DELETE</a>
</body>
</html>