<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> All your Favorite Movies </h1>
  <ol>
    {% for key in movies %}
    <li> <a href="movies_list_singl_{{ key.id }}"> name = {{ key.name }} , ratings = {{ key.ratings }} , awards = {{ key.awards }}, year = {{ key.year }} </a> </li><br>
    {% endfor %}
  </ol>
  <p>Thank you</p>
  <p>to add movie go <a href="add_movie"> add movie</a></p>
  <!-- {{ demo }} -->
</body>
</html>